@namespace Flatify.Forms
@inherits FlatBoolField

<FlatField Floating="false">
	<label class="@Classname" @attributes="@UserAttributes" for="@Id">
		<input type="checkbox" @bind="@CurrentValue" role="switch" id="@Id" name="@Id" />
		<span class="check"></span>
		@Label
	</label>
</FlatField>