@namespace Flatify.Forms
@using Flatify.Utilities
@using Microsoft.AspNetCore.Components.Forms
@inherits FlatInputBase<string>

<FlatField Floating="@Floating" IsArea="@isArea" @attributes="@UserAttributes" Class="@Classname" Width="@Width">
	@if (!Floating)
	{
		<label name="@Id" class="@LabelClassname" for="@Id">@Label</label>
	}
	@if (!isArea)
	{
		<InputText type="@(InputMode.ToDescriptionString())" @bind-Value="@CurrentValueAsString" placeholder="@inputPlaceholder" @attributes="@UserAttributes" id="@Id" maxlength="@MaxLength" required="@Required" readonly="@ReadOnly" class="@InputClassname" disabled="@Disabled" name="@Id" />
		@* <input type="@(InputMode.ToDescriptionString())" @bind="@CurrentValueAsString" placeholder="@inputPlaceholder" @attributes="@UserAttributes" id="@Id" maxlength="@MaxLength" required="@Required" readonly="@ReadOnly" class="@InputClassname" disabled="@Disabled" name="@Id" /> *@
	}
	else
	{
		<InputTextArea type="@(InputMode.ToDescriptionString())" @bind-Value="@CurrentValueAsString" placeholder="@inputPlaceholder" @attributes="@UserAttributes" id="@Id" maxlength="@MaxLength" required="@Required" readonly="@ReadOnly" class="@InputClassname" disabled="@Disabled" name="@Id" />
		@* <textarea class="@InputClassname" type="@(InputMode.ToDescriptionString())" @bind="@CurrentValueAsString" placeholder="@inputPlaceholder" @attributes="@UserAttributes" id="@Id" rows="@LineCount" maxlength="@MaxLength" required="@Required" name="@Id" readonly="@ReadOnly" disabled="@Disabled" /> *@
	}
	@if (Floating)
	{
		<label name="@Id" class="@LabelClassname" for="@Id">@Label</label>
	}
</FlatField>