@namespace Flatify.Forms
@using Flatify.Utilities
@inherits FlatInputBase<bool>

<label class="@Classname" @attributes="@UserAttributes">
	@switch (YesNoType)
	{
		case YesNoType.SelectList:
			<select name="@ItemName" id="@Id" class="@Size.ToDescriptionString()">
				<option value="">Please select...</option>
				<option value="@yesValue">
					@if (UseYesNo)
					{
						<p>Yes</p>
					}
					else
					{
						<p>True</p>
					}
				</option>
				<option value="@noValue">
					@if (UseYesNo)
					{
						<p>No</p>
					}
					else
					{
						<p>False</p>
					}
				</option>
			</select>
			break;
		case YesNoType.Checkbox:
			<input type="checkbox" @bind="@CurrentValue" />
			<span class="check"></span>
			break;
		case YesNoType.Radio:
			<input type="radio" name="@ItemName" />
			<span class="check"></span>
			break;
		case YesNoType.Switch:
			<input type="checkbox" @bind="@CurrentValue" role="switch" />
			<span class="check"></span>
			break;
		default:
			goto case YesNoType.Checkbox;
	}
	@Label
</label>