@namespace Flatify.Forms
@inherits FlatInputBase<TDateTime>
@using Microsoft.AspNetCore.Components.Forms
@typeparam TDateTime

<FlatField Floating="@Floating" Width="@Width" Inline="@Inline">
	@if (!Floating)
	{
		<label name="@Id" class="@LabelClassname" for="@Id">@Label</label>
	}
	<InputDate TValue="TDateTime" Type="InputDateType.Date" @bind-Value="@CurrentValue" @AdditionalAttributes="@UserAttributes" id="@Id" />
	@if (Floating)
	{
		<label name="@Id" class="@LabelClassname" for="@Id">@Label</label>
	}
</FlatField>