@namespace Flatify
@inherits FlatInputBase<TValue>
@using Microsoft.AspNetCore.Components.Forms
@typeparam TValue

<FlatField Floating="" Class="@ContainerClass">
	<label for="@Id" class="@LabelClass">@Label</label>
	<InputSelect TValue="TValue" @bind-Value="@CurrentValue" name="@Id" id="@Id" class="@InputClass" @attributes="@UserAttributes">
		<CascadingValue Value="this">
			@ChildContent
		</CascadingValue>
	</InputSelect>
</FlatField>