@using Flatify.Utilities
@inherits FlatBoolField

<label class="@Classname" for="@Id">
	<input type="@InputType.Checkbox.ToDescriptionString()" @bind="@CurrentValue" role="switch" id="@Id" name="@Id" />
	<span class="check"></span>
	@Label
</label>

@code{
	/// <inheritdoc />
	protected override string Classname => new CssBuilder()
	                                       .AddClass("")
	                                       .Build();
}