@namespace Flatify.Forms
@inherits FlatFormComponentBase<TValue>
@typeparam TValue

<div class="@ContainerClassname">
	<select name="@FieldIdentifier.FieldName" @onblur="@OnBlur" id="@FieldIdentifier.FieldName" class="@InputClassname" @bind="@CurrentValue" placeholder="@floatingPlaceholder">
		<CascadingValue Value="this" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</select>
	<label class="@LabelClassname" for="@FieldIdentifier.FieldName">@Label</label>
</div>
@if (!string.IsNullOrEmpty(HelpText))
{
	<p class="help-text size-sm">@HelpText</p>
}