@namespace Flatify.Forms
@inherits FlatTextInput

<div class="@ContainerClassname">
	<textarea class="@InputClassname" @bind="@CurrentValue" @onblur="@OnBlur" id="@FieldIdentifier.FieldName" name="@FieldIdentifier.FieldName" required="@Required" type="@InputType.Text" placeholder="@floatingPlaceholder" disabled="@Disabled" rows="@Lines" />
	<label class="@LabelClassname" for="@FieldIdentifier.FieldName">@Label</label>
	@if (!string.IsNullOrEmpty(HelpText))
	{
		<p class="help-text size-sm">@HelpText</p>
	}
</div>