@namespace Flatify.Forms
@inherits FlatBoolInputBase

<div class="@ContainerClassname">
	<label class="@LabelClassname" for="@FieldIdentifier.FieldName">
		@switch (Direction)
		{
			case LabelDirection.Left or LabelDirection.Default:
				@Label
				<input type="@GetInputType(Value)" @bind="@CurrentValue" @onblur="@OnBlur" role="switch" id="@FieldIdentifier.FieldName" required="@Required" disabled="@Disabled" placeholder="@floatingPlaceholder" name="@FieldIdentifier.FieldName" />
				<span class="check"></span>
				break;
			case LabelDirection.Right:
				<input type="@GetInputType(Value)" @bind="@CurrentValue" @onblur="@OnBlur" role="switch" id="@FieldIdentifier.FieldName" required="@Required" disabled="@Disabled" placeholder="@floatingPlaceholder" name="@FieldIdentifier.FieldName" />
				<span class="check"></span>
				@Label
				break;
		}
	</label>
</div>