@namespace Flatify
@inherits FlatItemsControlBase<FlatTab>

<CascadingValue Value="this" IsFixed="true">
	<div class="tabs-wrapper">
		<div class="tabs-header" role="tablist">

			@if (Items.Any())
			{
				@foreach (var tab in Items)
				{
					<button id="@tab.TabID" role="tab" class="@tab.ButtonClassName" @onclick="@(e => ActivateTab(tab))">
						@if (tab.TabButtonContent != null)
						{
							@if (tab.TabButtonText != null)
							{
								<FlatTypo>@tab.TabButtonText</FlatTypo>
							}
							@tab.TabButtonContent
						}
						else
						{
							<FlatTypo>@tab.TabButtonText</FlatTypo>
						}
					</button>
				}
			}
		</div>
		<div class="tabs-content">
			@ChildContent
		</div>
	</div>
</CascadingValue>