@namespace Flatify.Components
@inherits FlatComponentBase

<div class="dropdown-wrapper" @onmouseover="@MouseEnter" @onmouseout="@MouseLeave" @oncontextmenu:preventDefault="@(ActivationEvent == MouseEvent.RightClick ? true : false)">

	<!-- a button to toggle show/hide of dropdown -->
	<FlatButton Disabled="@Disabled" OnClick="@ToggleMenu" @ontouchend="@(ActivationEvent == MouseEvent.RightClick ? ToggleMenuTouch : null)" @oncontextmenu="@(ActivationEvent == MouseEvent.RightClick ? ToggleMenu : null)">
		Dropdown Menu
	</FlatButton>

	<!-- dropdown: in this case a menu -->
	<ul class="dropdown menu-items-wrapper" aria-labelledby="my-dropdown-toggle">
		<CascadingValue Value="this" Name="DropMenu">
			@if (MenuItems != null)
			{
				@MenuItems
			}
		</CascadingValue>
		<!-- dropdown arrow which is optional -->
		<li aria-hidden="true">
			<span class="pointer-arrow"></span>
		</li>
	</ul>
</div>