@namespace Flatify
@using Flatify.Utilities
@inherits FlatButtonBase
<FlatElement @bind-Ref="@_elementReference" HtmlTag="@HtmlTag" Class="@Classname" Style="@Style" @attributes="@UserAttributes" @onclick="@OnClickHandler" type="@ButtonType.ToDescriptionString()" href="@Link" target="@Target" rel="@GetRel()" disabled="@GetDisabledState()" ClickPropagation="@ClickPropagation">

	@ChildContent
	<span class="secondary-text">
		@LayerContent
	</span>

</FlatElement>